/* ===================== Init ===================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --mainColor: rgb(0,160,233);
    --warningColor: #e83232;
}



/* ====================== Header ==================== */
.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--mainColor);
}

.head {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.header a {
    position: relative;
}
.header > a::after {
    content: ''; 
    width: 0; 
    position: absolute;   
    top: 100%;
    left: 50%;
    transform: translateX(-50%); 
    background: rgb(255, 255, 255);
    transition: width 0.3s; 
}
.header > a:hover::after {
    height: 3px;
    width: 100%;
}

.circle {
    height: 40px;
    width: 40px;
    margin-left: 25px;
    border-radius: 2rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    background-color: white;
}
.circle:hover {
    opacity: 0.6;
}

.btn {
    height: 40px;
    width: 120px;
    margin-left: 25px;
    border-radius: 2rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    background-color: white;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.6;
    background-color: white;
}
#login {
    color: var(--mainColor);
}



/* ======================== Home ====================== */
.containerHome {
    display: flex;
    width: 100%;
    margin: 3rem 0 6rem;
}

.containerHome .overview {
    width: 60%;
    margin-left: 100px;
    align-items: center;
}
.overview h2 {
    color: var(--mainColor);
    font-weight: 700;
}
.overview .desc {
    font-size: 1.3rem;
    align-content: center;
}

.containerHome img {
    height: 17rem;
    width: 18rem;
    margin-left: 9rem;
    margin-top: 5rem;
}



/* ===================== Realtime =================== */
.realtime_data {
   height: 7rem;
   width: 80%;
   margin: 3rem auto 0;
   font-size: 2rem;
   color: white;
   background-color: #52d48d;
   border-radius: 1rem;
}
.realtime_data h3 {     /*center*/
    line-height: 7rem;
    text-align: center;
}



/* ===================== Monitor =================== */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
}

.area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto 0;
    height: 600px;
    width: 45%;
    border: 1px solid var(--mainColor);
    border-radius: 1rem;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.location {
    height: 8rem;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    color: white;
    background-color: var(--mainColor);
    font-size: 2.5rem;
}
.location h3 {
    line-height: 5%;
    font-size: 2.5rem;
}

.area .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    width: 42%;
    color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxTemp {
    background-color: rgb(236, 178, 72);
}
.boxHumi {
    background-color: rgb(75, 75, 250);
}
.boxGas {
    background-color: #F2C49B;
}
.boxFlame {
    background-color: rgb(241, 130, 89);
}
.boxFlameWarning {
    background-color: var(--warningColor);
}

.value {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 5rem;  
}
.value h5 {
    line-height: 70px;
}



/* ====================== Footer ===================== */
.footer .box-container {
    height: 14.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
    background-color: var(--mainColor);
    color: white;
}

.footer .box-container .box h3 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.footer .box-container .box p {
    font-size: 1.3rem;
}

.footer .box-container .box p a {
    color: white;
}
.footer .box-container .box a:hover {
    color: #666;
}

.footer .box-container .box p i {
    padding: .5rem .5rem;
}



/* ===================== Toast message ================ */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}
  
.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 0 20px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}
  
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--warning {
    border-color: var(--warningColor);
}
.toast--warning .toast__icon {
    color: var(--warningColor);
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}
.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}